
/*----------------------------------------*/

.picLeft {
    padding:0;
    border: 6px solid #EBE6D3;
    /*---margin-right:10px;---*/
    float:Left;
}

.garis_batas
{
    color:#777;
    padding: 15px 15px;
}

.spasi
{
    padding-right:10px;
}

.garis_bawah {
    /*-- border-bottom: 1px solid #D6D6D6;----*/
    border-bottom: 1px solid #ccc;
}
.garis_batas_kiri {
    padding:20px;
    border-left: 1px solid #ccc;
}
.sosmed a{
    /*-- border-bottom: 1px solid #D6D6D6;----*/
    padding-top:0px;
}
.custom_body1 {
    padding-top:5px;
}

.right_logo {
    /*--position: absolute;---*/
    float:right;
    right: 0px;
    padding: 10px;
}

.left_logo {
    /*-- position: absolute;---*/

    padding: 10px;
}

.logo_area{
    margin: auto;
    width: 60%;
    padding: 5px;
    width: 1170px;
}

.huruf_tebal{
    font-weight: bold;
}

/*--------------------------*/

.navbar-custom .navbar-brand {
    color: #4d4b4b;
}
.navbar-custom {
    font-size: 14px;
    background-color: #f5c96d;
    border-width: 1px;
    border-radius: 4px;
    border-top-color: #777777;
    border-bottom-color: #777777;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);     
}


.navbar-custom .navbar-nav>li>a {
    color: #181308;
    background-color: transparent;
}
.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
    color: #000000;
    background-color: #f7d48a;
}
.navbar-custom .navbar-nav>.active>a,
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #f5c96d; /*-- rgba(245, 201, 109, 1);  --*/
}
.navbar-custom .navbar-toggle {
    border-color: #f5c96d;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #f5c96d;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #f5c96d;
}
.navbar-custom .navbar-toggle:hover .icon-bar,
.navbar-custom .navbar-toggle:focus .icon-bar {
    background-color: #f5c96d;
}
.navbar-custom .navbar-nav .navbar-right {
    right:0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #474747;
    border-bottom-color: #474747;
}

.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
}
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #F7D48A;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #f3be4e;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

@media (max-width: 767px) {
    .navbar-custom  .navbar-collapse .navbar-form{
        margin: 0;
        border: 0 none;       
    }
    .navbar-custom  .navbar-form {
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 10px 0px;

    }
}

.custom-li > li > a {
    padding-top: 10px; /* footer dimentokin kbawah */ 
}

.custom-footer {
    margin-bottom: 0px; /* footer dimentokin kbawah */ 
}

.set-align-to-right  {
    margin-right: -190px;
}

div.modal div.modal-backdrop {
    z-index: 0; /* buat benerin modal bootstrap */ 
}
/* buat menghilangkan fungsi scrool pada input box tipe number */ 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}