

* {
	margin:0;
	padding:0;
}
body  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    background:#dddbdc;
	color:#515151;
}
img {
	border:0;
}

.buttonStyle {
	border:0;
	cursor:pointer;
	font-size:14px;
	color:#ffffff;
	background:#dd8551;
	padding:2px 7px 2px 7px;
}
.icons {
	float:right;
	background:#FFFFFF;
	margin:4px 3px 0px 3px;
	padding:40px 0 0 0;
}
.icons li {
	list-style:none;
	display:inline;
}
a {
	color:#5C5B5B;
	text-decoration:none;
}
a:hover {
	color:#5C5B5B;
	text-decoration:underline;
}

.tool a {
	text-decoration:none;
}
.tool a:hover {
	text-decoration:underline;
}
.header_01 {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	font-size: 26px;
	color: #ffffff;
}

.header_02 {
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
	font-size: 12px;
	color: #af1313;
	font-weight: bold;
}

.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}	

.garis {width: 100%; border-bottom: 1px  solid #D6D6D6; }
.garis2 {width: 610px; border-bottom: 1px  solid #D6D6D6; }
.garis_data_makro {width: 100%; padding: 5px 0 5px 0;border-bottom: 1px  solid #D6D6D6; }
.batas { clear: both; width: 100%; }

.image_wrapper_01 {
	position: relative;
	width: 200px;
	height: 117px;
	background: url(../images/templatemo_image_frame2.png) no-repeat
}

.image_wrapper_01 img {
    position: absolute;
	width: 175px;
	height: 74px;
	top: 20px;
	left: 12px;
    
}

.myTable { width:100%; border-collapse:collapse;  }
.myTable th { background: #FEF7E7;text-align:right;padding:8px; font-size:12px;border: 0px solid #808080;}
.myTable th.col1 {text-align:left;}
.myTable td {padding:8px;}

.myTable tr:nth-child(even) { /*(even) or (2n 0)*/
	background: #D4D4D4;
}
.myTable tr:nth-child(odd) { /*(odd) or (2n 1)*/
	background: #E1E1E1;
 }
.myTable a {color:#5C5B5B;font-weight:bold;text-decoration:none;}
.myTable a:hover {text-decoration:underline;}
 
 
.myTable2 { width:100%; border-collapse:collapse;  }
.myTable2 th { color:#FFFFFF;background: #242424;text-align:right;padding:8px; font-size:12px;border: 0px solid #808080;}
.myTable2 th.col1 {text-align:left;}
.myTable2 td {padding:8px;}
.myTable2 tr:nth-child(even) { /*(even) or (2n 0)*/
	background: #D4D4D4;
}
.myTable2 tr:nth-child(odd) { /*(odd) or (2n 1)*/
	background: #E1E1E1;
 }
 
.myTable3 { 
  width:85%;
  border-collapse:collapse;  
}

.myTable3 td {
  padding:8px;
  text-align:left;   
  font-family:verdana; 
  font-size:12px;
}

.myTable3 tr:nth-child(even) { /*(even) or (2n 0)*/
	background: #FBE4B5;
}
.myTable3 tr:nth-child(odd) { /*(odd) or (2n 1)*/
	background: #F8D389;
 }
 

/*--------------body---------------------------*/
h1 {
	color:#dd8551;
	font-size:24px;
	font-family:tahoma, arial;
	padding:10px 0 10px 0;
}
h2 {
	color:#dd8551;
	font-size:24px;
	font-family:tahoma, arial;
	padding:10px 0 10px 0;
}
h3 {
	color:#DA980E;
	font-size:24px;
	font-family:tahoma, arial;
	padding:0 0 2px 0;
}
h4 {
	color:#515151;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 0 2px 0;
}
h5 {
	color:#0000A0;
	font-size:14px;
	font-family:Arial;
}
/*--------------Container---------------------------*/
#container { 
	/*-width: 980px;  ----*/
	margin: 0 auto;
    position: relative;
    background:#FFFFFF;
    /*-position: fixed;-*/
} 
#container2 { 
	
	margin: 0 auto;
    position: relative;
    background:#FFFFFF;

}
/*--------------Efek bayangan---------------------------*/
#shadow-right {
background: url(../images/shadow-right.jpg) repeat-y top left;
width: 28px;
height: 100%;
position: absolute;
right: -28px;
top: 0px;
}

#shadow-left {
background: url(../images/shadow-left.jpg) repeat-y top left;
width: 28px;
height: 100%;
position: absolute;
left: -28px;
top: 0px;
}

#shadow-righta {
background: url(../images/shadow-righta.jpg) repeat-y top left;
width: 28px;
height: 100%;
position: absolute;
right: -28px;
top: 0px;
}

#shadow-lefta {
background: url(../images/shadow-lefta.jpg) repeat-y top left;
width: 28px;
height: 100%;
position: absolute;
left: -28px;
top: 0px;
}

/*--------------header---------------------------*/

#header { 
    position: relative;
    background:#FFFFFF;
    overflow:hidden;
}
#logoNarada {
   /* position: absolute;*/
	float:left;
	padding:0;
    z-index:1;  
}

#logoReksadana{
   /* position: absolute;*/
	float:Right;
	padding:0 5px 0 0 ;
}

#pilihan_bahasa{
    /*position: absolute;*/
	float:Right;
	padding:10px 10px 0 0;
    font-size:14px;
    color:#000000;
}

#pilihan_bahasa a {
	color:#000000;
	font-size:14px;
	text-decoration:none;
}
#pilihan_bahasa a:hover {
	color:#000000;
	font-size:14px;
    text-decoration:underline;
}
#pilihan_bahasa #active a {
      font: 14px Arial, Helvetica, sans-serif;
	color:#ffffff;
}

#pilihan_bahasa #active a:hover {
      font: 14px Arial, Helvetica, sans-serif;
	color:#000080;}
    
/*---------------------------menu1-------------------------*/


#menu1
{ 
padding-right:5px; 
top:85px;
position: absolute;
float: right; 
left : 89%;
line-height:15px;
color:#FFF;
}


#menu1 ul
{
    list-style:none;
}

#menu1 ul li
{
    border-right:1px solid #808080;
    float:left;
}
#menu1 ul li.last_active
{
    border-right:none;
    text-decoration:underline;     
}
#menu1 ul li.last_none
{
    border-right:none;
}

#menu1 ul li a
{
    color:#6C6C6C;
    text-decoration:none;
    padding:5px;
}

#menu1 ul li img
{
    padding:0 5px 0 5px;
}
#menu1 ul li a:hover
{
	/*-- color:#000000;
	font-size:14px;*/
    text-decoration:underline;
}
#menu1 ul li ul
{
     display: none;
     width: auto;
     /*---position: absolute; */
}
#menu1 ul li:hover ul
{
     /*---position: absolute; */
     margin: 0;
     padding: 0;
}
#menu1 ul li:hover li
{
    float: none;
    list-style:none;
    margin:0px;
}
#menu1 ul li:hover li
{
    background:#F24F00;
    border-top:1px solid #000000;
}
#menu1 ul li:hover li a
{
    /*--color: #fff; --*/
    padding:0 20px;
    display:block;
    width:170px;
}
#menu1 ul li li a:hover
{
    color:#000;
}
#menu1 #active a
{
    text-decoration:underline;
}
    
  
    
/*--------------------------------#menu2------------------------------------------*/

#menu2
{
    height:30px;
    line-height:30px;
    color:#FFF;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;   
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(0,0,0,0.3);
    background: -webkit-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* IE10+ */
    background: linear-gradient(top,  #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);       
}

#menu2 ul
{
    padding:0px;
    margin:0;
    list-style:none;
}

#menu2 ul li
{
    padding:0;
    margin:0;
    border-right:1px solid rgba(0,0,0,0.3);
    float:left;    
}

#menu2 #active a 
{
    background:#F5C96D;
    color:#FFF;
}

#menu2 ul li a
{
    color:#000;
    display:block;
    text-decoration:none;
    padding:0 25px;
}

#menu2 ul li a:hover
{
    background:#F5C96D;
    color:#FFF;
}

#menu2 ul li ul
{
     display: none;
     width: auto;
     position:absolute;
     top:30px;
     padding:0px;
     margin:0px;
}

#menu2 ul li:hover ul
{
     display: block;
     position: absolute;
     margin: 0;
     padding: 0;
}

#menu2 ul li:hover li
{
    float: none;
    list-style:none;
    margin:0px;
}

#menu2 ul li:hover li
{
    background:#F24F00;
    border-top:1px solid #000000;
}

#menu2 ul li:hover li a
{
    color: #fff;
    padding:0 20px;
    display:block;
    width:170px;
}

#menu2 ul li li a:hover
{
    color:#000;
}



/*----------------------------menu3----------------------------------*/

#menu3 { 
    line-height:10px;
    color:#6C6C6C;
    font-size:14px;
    position:relative;
    /*--- background: #DA980E url(../images/img01.gif) repeat-x top left; ------*/
    height:30px;
    line-height:30px;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    /*---border-top: 1px solid #040E68; ------*/
     /*---border-bottom: 1px solid #040E68; ------*/
     margin-right:100px;
     margin-top:100px;
     border-right:1px solid #000000;
}

#menu3 ul
{
    list-style:none;
}

#menu3 ul li
{
    border-right:0px solid #6C6C6C;
    float:left;
}

#menu3 ul li a
{
    color:#6C6C6C;
    text-decoration:none;
    padding:5px;
}

#menu3 ul li img
{
    padding:0 5px 0 5px;
}
#menu3 ul li a:hover
{
	color:#000000;
	font-size:14px;
    text-decoration:underline;
}
#menu3 ul li ul
{
     display: none;
     width: auto;
     position:absolute;
}
#menu3 ul li:hover ul
{
     position: absolute;
     margin: 0;
     padding: 0;
}
#menu3 ul li:hover li
{
    float: none;
    list-style:none;
    margin:0px;
}
#menu3 ul li:hover li
{
    background:#F24F00;
    border-top:1px solid #000000;
}
#menu3 ul li:hover li a
{
    color: #fff;
    padding:0 20px;
    display:block;
    width:170px;
}
#menu3 ul li li a:hover
{
    color:#000;
}





/*-----------------------------------isi-------------------------------------*/
#isi{ 
	background:#FFFFFF;
}

.picRight {
	float:right;
    padding-left:100px; 
}

.picRight2 {
	float:right;
    padding-left:0px;
    margin-right:300px;;  
}

.picLeft {
	padding:0;
	border: 6px solid #EBE6D3;
    margin-right:10px;
    float:Left;
}

.picLeft2 {
	float:Left;
   margin: 0 auto;
}

.picLeft3 {
	float:Left;
    margin-left:200px;
}

#modul_kanan {
	float:right;
    /*border: solid 1px #EBE6D3;*/
    border-left: dotted 1px #C0C0C0; 
    margin-left: 10px;
    padding: 10px;
    /*background-color: #FFFFFF;*/
    overflow: auto;

}    

#breadcrumb {
	background:#FFFFFF;
	padding:10px 10px 0px 10px;
    margin: 0 auto;
    font-family: verdana;
    font-weight: 100;
    line-height: 150%;
    font-size: 12px;
    word-spacing: 5px;
    text-align: justify;    
}

#breadcrumb a {
color: #0080C0;
font-size: 12px;
text-decoration: none;
}
/*---------------------------------home---------------------------------*/
#home {
	background:#FFFFFF;
	padding:20px;
    margin: 0 auto;
}

#home ul{
	background:#FFFFFF;
	padding-left:20px;
}

#home ul li{
	color:#444;
	font-family:verdana;
    font-size: 12px;
}

#home p {
	color:#000000;
	font-family:verdana;
	padding:10px 0 5px 0;
    font-weight:100;
    line-height:150%;
    font-size: 1.1em;
    word-spacing: 5px;
    text-align:justify;
}

#home h1 {
	color:#515151;
	font-size:10px;
	font-family:tahoma,Arial, Helvetica, sans-serif;
	padding:10px 0 5px 0;
    font-weight:100;
}

#home h2 {
	color:#515151;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 0 2px 0;
        font-weight:0;
}
#home h3 {
	color:#DA980E;
	font-size:24px;
	font-family:tahoma, arial;
}
#home a {
	color:#AF7A0C;
    display: inline-block;
	font-size:12px;
	text-decoration:none;
}
#home a:hover {
	color:#AF7A0C;
	font-size:12px;
    text-decoration:underline;
}
#home #active a {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#ffffff;
}

#home #active a:hover {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#000080;
}

#home table {
    border-collapse: collapse;
}
#home td,th {
    border:0px solid black;
    padding-right:5px;
    padding-bottom:5px;
    vertical-align: top !important;
    font-family:verdana;
}

/*---------------------------------home2---------------------------------*/

#home2 {
	background:#FFFFFF;
	padding:20px;
    margin-right:300px;
}



#home2 p {
	color:#000000;
	font-family:verdana;
	padding:5px 0 5px 0;
    font-weight:100;
    line-height:150%;
    font-size: 12px;
    word-spacing: 5px;
    text-align:justify;
}

#home2 h4 {
	color:#0080C0;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 0 2px 0;
}

/*--------------------grafik NAB-------------*/

#grapik_nab {
width:600px ; 
height: 200px; 
margin: 0; 
border:2px solid #d0d0d0;
 }

#chartdiv{
width:600px ; 
height: 200px; 
margin: 0; 
border:2px solid #d0d0d0;
 }

#chartdiv2{
width:600px ; 
height: 200px; 
margin: 0; 
border:2px solid #d0d0d0;
 }
/*---------------------------------begin aboutUs---------------------------------*/
#aboutUs {
	background:#FFFFFF;
    padding:0px 20px 20px 20px;
    margin-left: 150px;
}

#aboutUs ul{
	background:#FFFFFF;
	padding-left:20px;
   /* padding:0px 20px 20px 20px;--*/
}
#aboutUs h1 {
	color:#515151;
	font-size:12px;
	font-family:tahoma,Arial, Helvetica, sans-serif;
	padding:10px 0 5px 0;
    font-weight:100;
}

#aboutUs h2 {
	color:#515151;
	font-size:14px;
	font-family:tahoma,Arial, Helvetica, sans-serif;
    padding-top:10px;
    font-weight:100;
}
#aboutUs h3 {
	color:#515151;
	font-family:verdana;
	padding:10px 0 5px 0;
    font-weight:100;
    line-height:150%;
    font-size: 1.1em;
    word-spacing: 2px;    
    text-align:justify;    
}

#aboutUs h4 {
	color:#515151;
	font-size:18px;
	font-family:verdana;
}

#aboutUs h5 {
	color:#515151;
	font-size:14px;
	font-family:verdana;
}   

#aboutUs h6 {
	color:#0080C0;
	font-size:12px;
    font-weight:bold;
	font-family:arial;
}

#aboutUs h7 {
	color:#0080C0;
	font-size:18px;
    font-weight:bold;
	font-family:arial;
}

#aboutUs p {
	color:#515151;
	font-size:12px;
    line-height:150%;
	font-family:arial;
    text-align:justify;
}

#aboutUs a {
	color:#AF7A0C;
    display: inline-block;
	font-size:12px;
	text-decoration:none;
}

#aboutUs table th,td {
    border:0px solid black;
    border-collapse: collapse;
    padding-right:10px;
    padding-bottom:20px;
    vertical-align: top !important;
}

#aboutUs a:hover {
	color:#AF7A0C;
	font-size:12px;
    text-decoration:underline;
}

#aboutUs #active a {
    font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#ffffff;
}

#aboutUs #active a:hover {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	  color:#000080;
}



/*--------------Sidebar---------------------------*/
#sidebar {
	float: left;
	width: 150px;
	background:#ffffff url(../images/bg_line_right.gif) repeat-y;
	color:#FFFFFF; 
	font-size:11px;  
    vertical-align:inherit;
    margin : 0 10px 500px 10px 0;
    padding:  0 10px 500px 10px 0;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #181B20;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	border-bottom: 1px dashed #B3B0B0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #003366;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 0px;
	text-align: left;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}



/*---------------------------------Menu Kiri---------------------------------*/
#about_left_menu {
	float:left;
    border-right: dotted 1px #C0C0C0;    
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px;
    height:250px;
    width:150px;
    background-color: #FFFFFF;
    overflow: hidden;
}   
 
#about_left_menu ul {
	list-style: none;
}

#about_left_menu ul li
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    width:150px; 
    border-bottom:dotted 1px #C0C0C0; 
}

#about_left_menu ul li a
{
	color:#DA980E;
    display:block;
    text-decoration:none;
    padding:10px 20px 10px 20px;  
}

#about_left_menu ul li a:hover
{
    background:#F5C96D;
    color:#FFF;
    width:150px;
}

#about_left_menu #active a 
{
    background:#F5C96D;
    color:#FFF;
    width:150px;
}



/*---------------------------------product_left_menu---------------------------------*/
#product_left_menu {
	float:left;
    border-right: dotted 1px #C0C0C0;    
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px;
    height:500px;
    width:200px;
    background-color: #FFFFFF;
    overflow: hidden;
}   
 
#product_left_menu ul {
	list-style: none;
}

#product_left_menu ul li
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    border-bottom:dotted 1px #C0C0C0; 
}

#product_left_menu ul li a
{
	color:#DA980E;
    display:block;
    text-decoration:none;
    padding:10px 20px 10px 20px;
     
}

#product_left_menu ul li a:hover
{
    background:#F5C96D;
    color:#FFF;
    /*-- width:150px; -------*/
}

#product_left_menu #active a 
{
    background:#F5C96D;
    color:#FFF;
}



/*---------------#product----------*/

#product {
	background:#FFFFFF;
    padding:0px 20px 20px 20px;
    margin-left: 200px;
}



#product p {
	color:#000000;
	font-family:verdana;
	padding:10px 0 5px 0;
    font-weight:100;
    line-height:150%;
    font-size: 12px;
    word-spacing: 5px;
    text-align:justify;
}

#product ul{
	background:#FFFFFF;
    /*background:url(images/123.jpg) repeat-y top left;*/
	padding-left:20px;
}
#product ol{list-style-type:decimal;padding-left:20px;}
#product li {
	color:#000000;
	font-family:verdana;
    padding:5px;
}
#product h1 {
	color:#515151;
	font-size:12px;
	font-family:tahoma,Arial, Helvetica, sans-serif;
	padding:10px 0 5px 0;
    font-weight:100;
}

#product h2 {
	color:#515151;
	font-size:14px;
	font-family:tahoma,Arial, Helvetica, sans-serif;
    padding-top:10px;
    font-weight:100;
}
#product h3 {
	font-size:16px;
	font-family:tahoma;
	color:#DA980E;
    word-spacing: 5px;
}

#product h4 {
	color:#0080C0;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 0 2px 0;
}

#product h5 {
	color:#515151;
	font-size:18px;
	font-family:verdana;
}

#product a {
	color:#AF7A0C;
    display: inline-block;
	font-size:12px;
	text-decoration:none;
}
#product a:hover {
	color:#AF7A0C;
	font-size:12px;
    text-decoration:underline;
    font-weight:bold;
}
#product #active a {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#ffffff;
}

#product #active a:hover {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#000080;
}
#product table {
    border-collapse: collapse;
}

#product .returnn td,th {
    border:1px solid #808080;
    padding:10px;
    vertical-align: top !important;
}

#product .returnn th {
    color:#000000;
    font-size: 14px;
    font-family: tahoma,Arial;
    padding:10px;
    background: -webkit-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* IE10+ */
    background: linear-gradient(top,  #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
/*    background:#F8D389; */  
   /*    background: #FBE4B5; */ 
   font-weight: 100;
}

#product .komposisi td,th {
    border:0px solid #808080;
    padding:5px;
    text-align:left;   
    font-family:verdana; 
    font-size:12px;       
}

#product .download td,th {
    border:0px solid #808080;
    padding:5px;
    vertical-align: top !important;
    font-family:verdana;
}



/*---------------------------------begin news---------------------------------*/
#news {
	/* background:#ececec;	*/
    background:#FFFFFF;
    padding:0px 20px 20px 20px;
     margin-left:150px;
}

#news p {
	color:#515151;
	font-size:12px;
    line-height:150%;
    font-family:georgia,palatino,times,serif;
    text-align:justify;
}

#news ul{
	background:#FFFFFF;
	padding-left:20px;
}
#news h1 {
	color:#515151;
	font-size:12px;
	font-family:tahoma,Arial, Helvetica, sans-serif;
	padding:10px 0 5px 0;
    font-weight:100;
}

#news h2 {
	color:#515151;
	font-size:14px;
	font-family:tahoma,Arial, Helvetica, sans-serif;
    padding-top:10px;
    font-weight:100;
}
#news h3 {
	color:#515151;
	font-size:12px;
	font-family:tahoma,Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#news table th,td {
    border:0px solid black;
    border-collapse: collapse;
    padding-right:10px;
    padding-bottom:20px;
    vertical-align: top !important;
}

#news a {
	color:#AF7A0C;
    display: inline-block;
	font-size:12px;
	text-decoration:none;
}
#news a:hover {
	color:#000080;
	font-size:12px;
text-decoration:underline;
}
#news #active a {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#ffffff;
}

#news #active a:hover {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#000080;
}
/*---------------------------------end news---------------------------------*/

/*---------------------------------begin #news_left_menu---------------------------------*/
#news_left_menu {
	float:left;
    border-right: dotted 1px #C0C0C0;    
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px;
    height:500px;
    width:150px;
    background-color: #FFFFFF;
    overflow: hidden;
}   
 
#news_left_menu ul {
	list-style: none;
}

#news_left_menu ul li
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    width:150px; 
    border-bottom:dotted 1px #C0C0C0; 
}

#news_left_menu ul li a
{
	color:#DA980E;
    display:block;
    text-decoration:none;
    padding:10px 20px 10px 20px;
     
}

#news_left_menu ul li a:hover
{
    background:#F5C96D;
    color:#FFF;
    width:150px;
}

#news_left_menu #active a 
{
    background:#F5C96D;
    color:#FFF;
    width:150px;
}

/*---------------------------------begin #news_daily_market--------------------------------*/
#news_daily_market{
	padding:20px;
     margin-left:150px;     
}
#news_daily_market h4{ 
	color:#0080C0;  
}

#news_daily_market a {
	color:#AF7A0C;
    display: inline-block;
	font-size:12px;
	text-decoration:none;
}
#news_daily_market a:hover {
	color:#AF7A0C;
	font-size:12px;
    text-decoration:underline;
}
#news_daily_market #active a {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#ffffff;
}

#news_daily_market #active a:hover {
      font: 12px/1.5 Arial, Helvetica, sans-serif;
	color:#000080;
}
#news_daily_market table {
    border-collapse: collapse;
}
#news_daily_market td,th {
    border:1px dotted black;
    padding:20px;
    vertical-align: top !important;
    font-family:verdana;
}

/*---------------------------------career---------------------------------*/
#career {
	background:#FFFFFF;
    /*background:url(images/123.jpg) repeat-y top left;*/
	padding:20px;
     margin: 0 auto;
}
#career p {
	color:#000000;
	font-family:verdana;
	padding:10px 0 5px 0;
    font-weight:100;
    line-height:150%;
    font-size: 12px;
    word-spacing: 5px;
    text-align:justify;
}

#career li {
	color:#000000;
	font-family:verdana;
	padding:5px 0 5px 0;
    font-weight:100;
    font-size: 12px;
    word-spacing: 5px;
    text-align:justify;
}

#career ul {
	background:#FFFFFF;
    /*background:url(images/123.jpg) repeat-y top left;*/
	padding-left:20px;
}

#career h6 {
	color:#0080C0;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 0 2px 0;
}



#career a {
	color:#0080C0;
    display: inline-block;
	font-size:12px;
	text-decoration:none;
}

/*---------------------------------begin address---------------------------------*/

.dark_grey{
		color:#2f2f2f;
		font-weight:500;
}



/*--------------slider---------------------------*/
#slider {
	position: relative;
	width: 980px;
	margin: 0 auto;
}



/* ----------contact ----------------*/
#contact {
	background:#FFFFFF;
	padding:20px;
    margin: 0 auto;
}

#contact table {
    border-collapse: collapse;
}

#contact table td,th {
    border:0px solid #808080;
    padding:2px;
}



#contact h3 { margin-bottom: 15px; font-size: 22px; text-shadow: 2px 2px 2px #ccc; }

#contact h2 {
color: #515151;
font-size: 14px;
font-family: tahoma,Arial, Helvetica, sans-serif;
padding-top: 10px;
font-weight: 100;
}

#contact .returnn td,th {
    border:1px solid #808080;
    padding:10px;
    vertical-align: top !important;
    font-family:verdana;
}

#contact .returnn th {
padding:10px;
border:1px solid #808080;
background-color:orange;
color:white;
}



#contactform {
	width: 320px;
	padding: 20px;
	background: #f0f0f0;
	overflow:auto;
	
	border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
	
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
}

.container1{margin: 10px 0px 0px 10px; width: 900px; background: #fff;}	
    
.field{margin-bottom:7px;}
	
label {
	font-family: Arial, Verdana; 
	text-shadow: 2px 2px 2px #ccc;
	display: block; 
	float: left; 
	font-weight: bold; 
	margin-right:10px; 
	text-align: right;  
	line-height: 25px; 
	font-size: 15px; 
}
	
.input{
	font-family: Arial, Verdana; 
	font-size: 15px; 
	padding: 5px; 
	border: 1px solid #b9bdc1; 
	width: 300px; 
	color: #797979;	
}
	
.input:focus{
	background-color:#E7E8E7;	
}
	
.textarea {
	height:150px;	
}
	
.hint{
	display:none;
}
	
.field:hover .hint {  
	position: absolute;
	display: block;  
	margin: -30px 0 0 350px;
	color: #FFFFFF;
	padding: 7px 10px;
	background: rgba(0, 0, 0, 0.6);
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
}
	
.button{
	float: left;
	margin:10px 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor:pointer;   
	color: #fff;
	
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	
	/* Background gradient */
	background: #a5b8da;
	background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
	
	/* Border style */
  	border: 1px solid #5c6f91;  
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  
	/* Box shadow */
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
}
	
.button:hover {
	background: #848FB2;
    cursor: pointer;
}



/*--------------begin footer---------------------------*/
#footer {
    background: #DA980E url(images/img02.gif) repeat-x top left;
	padding-top:10px; 
	font-size:11px; 
    height: 30px;
    color: #000000;
    text-align: center;
   border-bottom : 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(0,0,0,0.3);
    background: -webkit-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Chrome10+,Safari5.1+ */
}

#footer h7{
	text-align:left;
    float:left;
    padding-left:10px;
}

#footer h8{
	text-align:left;
    float:right;
    padding-right:20px;
}
 
#footer p {
	text-align:left;
} 

#footer a {
	color:#dd8551;
	text-decoration:underline;
	font-size:11px;
}

#footer a:hover {
	color:#dd8551;
	text-decoration:none;
	font-size:11px;
}	

/*-------- footer Menu ------------------*/

#footer_menu { 
    line-height:10px;
    color:#000000;
	font-size:11px; 
    position:absolute;
    padding:5px;
}

#footer_menu ul
{
    list-style:none;
}

#footer_menu ul li
{
    border-right:1px solid #000000;
    float:left;
}
#footer_menu ul li.last
{
    border-right:none;
    float:left;
}

#footer_menu ul li a
{
    color:#000000;
    text-decoration:none;
    padding:5px;
}

/*-- jika mouse melewati anchor */
#footer_menu ul li a:hover
{
	color:#000000;
	font-size:11px; 
    text-decoration:underline;
}

#footer_menu ul li img
{
    padding:0 5px 0 5px;
}

#footer_menu ul li ul
{
     display: none;
     width: auto;
     position:absolute;
}
#footer_menu ul li:hover ul
{
     position: absolute;
     margin: 0;
     padding: 0;
}
#footer_menu ul li:hover li
{
    float: none;
    list-style:none;
    margin:0px;
}
#footer_menu ul li:hover li
{
    background:#F24F00;
    border-top:1px solid #000000;
}
#footer_menu ul li:hover li a
{
    color: #fff;
    padding:0 20px;
    display:block;
    width:170px;
}
#footer_menu ul li li a:hover
{
    color:#000;
}
#footer_menu #active a
{
    text-decoration:underline;
}

/*--------------social box footer---------------------------*/	
#social_box { 
float: right; 
display: inline-block; 
margin: 0; 
padding-right:10px; 
list-style: none; 
}

#social_box li { 
display: block; 
float: left; 
padding: 0; 
margin: 0; 
}
.tes {  
position:absolute;
padding:5px;
float:right;
font-size:11px; 
}
#social_box li a { 
width: 24px; 
height: 24px; 
margin-right: 5px; 
}

#sosial_icon li {
	list-style:none;
	display:inline;
	padding:5px 25px 5px 25px;
	border-right:1px solid #787877;
}

#divNab {
    background: #FFFFFF;
    width:150 px; 
    height: 80px; 
    border: 5px solid #c9c9c9; 
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-box-shadow: 5px 5px 5px #c9c9c9;
    -icab-box-shadow: 5px 5px 5px #c9c9c9;
    -khtml-box-shadow: 5px 5px 5px #c9c9c9;
    -moz-box-shadow: 5px 5px 5px #c9c9c9;
    -webkit-box-shadow: 5px 5px 5px #c9c9c9;
}

#divNab h1{
    text-align:left;
	color:#000000;
	font-family:verdana;
    font-size:12px;
    word-spacing:5px;
}

#divNab h2{
    text-align:left;
	color:#808080;
	font-family:verdana;
    font-size:16px;
    word-spacing:5px;
}

#combo_daily {
   width: 282px;
   height: 25px;
   overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;   
   background: url(../images/arrow3.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }   
   
#combo_daily select {
   background: transparent;
   width: 282px;
   padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;   
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   }
   



    .myButton {
        
    background: -webkit-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* IE10+ */
    background: linear-gradient(top,  #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);    
    background-color:#ffec64;
        
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        
        border:1px solid #ffaa22;
        
        display:inline-block;
        color:#333333;
        font-family:arial;
        font-size:12px;
        font-weight:normal;
        padding:6px 24px;
        text-decoration:none;
        
    }
    .myButton:hover {
      background: #F5C96D;
      color: #FFF;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
/* -------------- kolom Home -> Produk -------------------------*/    
.container_1 {
	margin-left: auto;
	margin-right: auto;
    padding-left:20px;
}

.grid_1{
	display:inline;
	float: left;
	position: relative;
	margin-left: 20px;
	margin-right: 20px; 
    margin-bottom:20px;
    border: solid 1px #B1B1B1;

    height:220px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);     
}
.container_1 .grid_1 {
	width:160px;
}

.box1{
	padding:0px 0px 0px 0px;
    }
.box1 p{
	padding:5px;
    font-size: 12px;
    }    
.home-items1{
    height:25px;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    padding: 6px 24px;
    text-decoration: none;    
	text-align:left;
	color: #333333;
    padding:5px;
    line-height: 1.7;
    letter-spacing: 0.5px;
	margin-bottom:5px;
    background: -webkit-linear-gradient(top, #F3B533 0%,#FBE4B5 50%, #F3B533 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #F3B533 0%,#FBE4B5 50%, #F3B533 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #F3B533 0%,#FBE4B5 50%, #F3B533 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,#F3B533 0%,#FBE4B5 50%, #F3B533 100%); /* IE10+ */
    background: linear-gradient(top, #F3B533 0%,#FBE4B5 50%, #F3B533 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);       
}
   
    
.links1 {
	float:left;
	margin: 10px 0px 10px 0px;
	text-align: right;
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
    position:absolute;
    bottom:0px;
}
.more1 {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 30px;
}

.links2 {
	float:right;
	margin: 10px 0px 10px 0px;
	text-align: right;
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
}

.more2 {
	display: block;
	float: left;
}

/* -------------- kolom kanan -> Produk -------------------------*/    
.container_2 {
	margin-left: auto;
	margin-right: auto;
}

.grid_2{
	margin-left: 5px;
	margin-right: 5px;
    margin-bottom:10px;
    border: solid 1px #F3B533;
    height:auto;
}
.container_2 .grid_2 {
	width:auto;
}

.box2{
	padding:0px 0px 0px 0px;}
    
.box2 p{
	padding:5px;
    font-size: 12px;
    }    
.home-items2{
    height:25px;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    padding: 6px 24px;
    text-decoration: none;    
	text-align:left;
	color: #333333;
    padding:5px;
    line-height: 1.7;
    letter-spacing: 0.5px;
	margin-bottom:5px;
    background: -webkit-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* IE10+ */
    background: linear-gradient(top,  #F3B533 0%,#F5C96D 50%, #F3B533 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);       
}